.login {
	margin-top: 50px !important;
	width: 50%;
	align-items: center;
	text-align: center;
	margin: auto;
	border-radius: 5px;
}

.login-form-input {
	width: 350px;
	margin: auto;
	margin-bottom: 2%;
}

.login-btn {
	width: 200px;
}

.login-text {
	text-align: center;
	margin-top: 4%;
	font-weight: 600;
}